body {
  margin: -20px 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  min-width: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0px 0px;
}

h2 {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.hero div:nth-of-type(2) {
  color: red;
}

.hero div:nth-of-type(1) {
  color: green;
}

.hero img {
  min-width: 400px;
  min-height: 300px;
}

.hero button {
  background-color: #3882f6;
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 600;
  align-self: start;
}

.info {
  background-color: white;
}

.info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: extra-bold;
}

.inspiration {
  background-color: #e5e7eb;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.end-quote {
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
}

.action {
  background-color: white;
}

.action div {
  background-color: #3882f6;
}

footer {
  background-color: #1f2937;
}

div {
  border: 2px solid red;
}
