body {
  margin: -10px 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  min-width: 100%;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline-block;
  margin: 0px 6px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 96px;
  margin-bottom: 0px;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.hero h2 {
  font-size: 24px;
  color: #f9faf8;
}

.hero p {
  margin: 0px 0px 14px 0px;
}

.hero div:nth-of-type(2) {
  width: 500px;
}

.hero div:nth-of-type(1) {
  width: 450px;
}

.hero-image {
  margin-top: 96px;
  margin-bottom: 148px;
  width: 300px;
  height: 200px;
  float: right;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button {
  background-color: #3882f6;
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 600;
  align-self: start;
}

.info {
  background-color: white;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 150px;
  height: 250px;
  margin: 0px 32px;
}

.card div {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 142px;
  height: 142px;
}

.info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: extra-bold;
}

.inspiration {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.inspiration div {
  width: 764px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  padding: 64px 0px 0px 0px;
  margin-bottom: 0px;
}

.end-quote {
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 64px 0px;
  text-align: right;
}

.action {
  background-color: white;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-div {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 8px;
  padding: 24px 94px;
  display: flex;
  gap: 148px;
}

.action-div p {
  margin: 0px;
}

.action-div h3 {
  margin: 0px;
}

.action-div div {
  margin: 0px;
}

.action button {
  background-color: #3882f6;
  padding: 6px 24px;
  border: 4px solid #e5e7eb;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 600;
  align-self: center;
}

footer {
  min-width: 100%;
  padding: 24px 0px;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div {
  border: 2px solid red;
}

section {
  border: 2px solid green;
} */
